<div class='navbar navbar-default navbar-fixed-top'>
  <div class='container'>
    <%= link_to "Brittani Rose Art", root_path, class: "navbar-brand" %>
      <div class="collapse navbar-collapse">
        
        
        <div class='nav navbar-nav navbar-right'>
          <ul class='nav navbar-nav'>
          
          <li><%= link_to 'Shop', products_path %></li>  
          <li><%= link_to 'Custom Orders', custom_order_path %></li>
          <li><%= link_to 'The Story', story_path %></li>
          <li class='cart-text'><%= render 'layouts/cart_text' %></li>
          </ul>
        </div>
      </div>  
  </div>
</div>
