<!--Navigation-->
<div class='col-sm-12'>
  <%= link_to "All Products", products_path, class: "btn btn-primary" %>
  <hr />
</div>
<!--End Navigation-->

<!--Item Listing-->
<!--Item Title-->
<div class='col-lg-12 col-sm-12'>
  <span class='title'><%= @product.name %></span>
</div>
<!--End Item Title-->
<!--Item Image-->
<div class='col-md-6'>
  <% if @product.picture.blank? %>
  <img src='https://placehold.it/400x400' class='img-responsive listing-image'>
  <% else %>
  <img src='<%= @product.picture.url %>' class='img-responsive listing-image' style="width: 400px; height: auto; max-width: none; max-height: none; left: -4px; top: 0px;" >
  <% end %>
</div>
<!--End Item Image-->
<!--Item Details-->
<div class='col-md-3'>
  <div class='well'>
    <h3><%= number_to_currency @product.price %></h3>
      <%= form_for @order_item, remote: true do |f| %>
        <div class="form-group">
          <%= f.number_field :quantity, value: 1, class: "form-control form-width", min: 1 %>
          <%= f.hidden_field :product_id, value: @product.id %>
          <%= f.submit "Add", class: "btn btn-primary"  %>
      	</div>
      <% end %>
  </div>
  <br>
  <div class='well'>
    <label>Description:</label>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus hendrerit mauris, at bibendum mi aliquet eget. Morbi eu elit malesuada, laoreet nisi et, sagittis lacus. 
      </p>
  </div>
</div>
<!--End Item Details-->
<!--End Item Listing-->
<!--Best Seller-->
<!--<div class='col-lg-3 col-md-3 '>
  <div class='col-lg-12 col-md-12 visible-lg visible-md'>
    <span class='title'>Best Seller</span>
      <div class="hero-feature text-center">
        <div class="thumbnail product-listing">
          <a href="/products/<#%= @product.id %>" class="link-p" style="overflow: hidden; position: relative;">
            <img src="https://placehold.it/250x250" alt="" style="position: absolute; width: 250px; height: auto; max-width: none; max-height: none; left: -4px; top: 0px;">
          </a>
          <div class="caption prod-caption">
            <h4><a href="detail.html">Funkalicious Print T-Shirt</a></h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, minima!</p>
              <p></p>
              <div class="btn-group">
                <a href="#" class="btn btn-default">$ 928.96</a>
                <a href="#" class="btn btn-primary">Add</a>
              </div>
              <p></p>
          </div>
        </div>
      </div>
  </div>
</div>-->
<!--End Best Seller-->

<!--Related Items-->

<div class='col-lg-12 col-md-12 hidden-sm hidden-xs' >
  <span class='title'>Related Items</span>
    <% @related.each do |product| %>
        <%= render "product_row", product: product, order_item: @order_item  %>
    <% end %>
</div>

<!--End Related Items-->