<span class='title'>Shipping Information</span>
<table class='table table-bordered tbl-checkout'>
  <tbody>
    <tr>
      <td>First Name</td>
      <td><%= @billing.first_name %></td>
      <td>Last Name</td>
      <td><%= @billing.last_name %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= @billing.email %></td>
      <td>Phone</td>
      <td><%= @billing.phone %></td>
    </tr>
    <tr>
      <td>Street Address</td>
      <td colspan='3'><%= @billing.street %></td>
    </tr>
    <tr>
      <td>City</td>
      <td colspan='3'><%= @billing.city %></td>
    </tr>
    <tr>
      <td>State</td>
      <td><%= @billing.state %></td>
      <td>Zip Code</td>
      <td><%= @billing.zip %></td>
    </tr>
    <% if @billing.comment? %>
    <tr>
      <td colspan='4'>Comments</td>
    </tr>
    <tr>
      <td colspan='4'><%= @billing.comment %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Edit Shipping Info", edit_billing_path(@billing), class: 'btn btn-primary' %>

<br/>
<br/>
<span class='title'>Cart Information</span>

<table class='table table-bordered'>
    <thead>
      <tr>
        <td>Image</td>
        <td>Product Name</td>
        <td>Quantity</td>
        <td>Unit Price</td>
        <td>Subtotal</td>
      </tr>
    </thead> 
    <tbody>
<% @order_items.each do |order_item| %>
<tr>
<%= render 'cart', product: order_item.product, order_item: order_item, show_total: true %>
</tr>
<% end %>
<tr>
  <td colspan='4' align='right'>Order Subtotal</td>
  <td><%= number_to_currency current_order.subtotal %></td>
</tr>
<tr>
  <td colspan='4' align='right'>Shipping</td>
  <td><%= number_to_currency current_order.shipping %></td>
</tr>
<tr>
  <td colspan='4' align='right'>Order Total</td>
  <td><%= number_to_currency current_order.total %></td>
</tr>
</tbody>
    </table>

<%= form_tag charges_path do %>

  <div class='pull-right'>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= number_to_currency current_order.total %>"></script>
  </div>
<% end %>
<br/>
<br/>
<br/>