<!DOCTYPE html>
<html>
<head>
  <title>Brittani Rose Art</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='wrap'>
  <div class='main'>
    <%= render 'shared/nav' %>
  
<div class='container'>
<%= yield %>
</div>
</div>
</div>
<footer>
  <%= render 'shared/footer' %>
</footer>
</body>
</html>
